<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Fraud Detection System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="h1"></div>
    <div class="header">
        <h1>Financial Fraud Detection System</h1>
    </div>

    <div class="content">
        <h2><center class="h2">Welcome to the Financial Fraud Detection System</center></h2>
        <p><center ><a href="{{ url_for('dashboard') }}" class="dashbord" ><button class="btn1">Go to Dashboard</button></a></center></p>
         </div>

    <div class="footer">
        <p>&copy; 2024 Financial Fraud Detection System. All rights reserved.</p>
    </div>
</body>
</html>
